# Final Data Cleaning
Many columns are still redundant. This notebook is just to manually look at which columns are repeats and get rid of them, saving the remaining "final" dataset into a csv.

In [ ]:
import pandas as pd
import numpy as np

:

In [ ]:
df = pd.read_csv("2017_OneHot_V1.csv")
df.head()

Here's all the columns as of right now.

In [ ]:
for item in df.columns:
  print(item)

Get rid of CDIVMSAR and MSACAT (redundant info).

In [ ]:
final_columns = "["
for item in df.columns:
  if "CDIVMSAR" not in item and "MSACAT" not in item:
    final_columns += item + ", "
final_columns ="]"
print(final_columns)

In [ ]:
df = df[["GASPRICE",
    "SCHOOL_DISTANCE",
    "NEEDS_SCHOOL_BUS",
    "CENSUS_D_New England",
    "CENSUS_D_Middle Atlantic",
    "CENSUS_D_East North Central",
    "CENSUS_D_West North Central",
    "CENSUS_D_South Atlantic",
    "CENSUS_D_East South Central",
    "CENSUS_D_West South Central",
    "CENSUS_D_Mountain",
    "CENSUS_D_Pacific",
    "HHFAMINC_I don't know",
    "HHFAMINC_I prefer not to answer",
    "HHFAMINC_Less than $10,000",
    "HHFAMINC_$10,000 to $14,999",
    "HHFAMINC_$15,000 to $24,999",
    "HHFAMINC_$25,000 to $34,999",
    "HHFAMINC_$35,000 to $49,999",
    "HHFAMINC_$50,000 to $74,999",
    "HHFAMINC_$75,000 to $99,999",
    "HHFAMINC_$100,000 to $124,999",
    "HHFAMINC_$125,000 to $149,999",
    "HHFAMINC_$150,000 to $199,999",
    "HHFAMINC_$200,000 or more",
    "HH_HISP_Refused",
    "HH_HISP_Yes",
    "HH_HISP_No",
    "HH_RACE_Don't know",
    "HH_RACE_Refused",
    "HH_RACE_White",
    "HH_RACE_Black or African American",
    "HH_RACE_Asian",
    "HH_RACE_American Indian or Alaska Native",
    "HH_RACE_Native Hawaiian or other Pacific Islander",
    "HH_RACE_Multiple responses selected",
    "HH_RACE_Some other race",
    "MSASIZE_In an MSA of Less than 250,000",
    "MSASIZE_In an MSA of 250,000 - 499,999",
    "MSASIZE_In an MSA of 500,000 - 999,999",
    "MSASIZE_In an MSA or CMSA of 1,000,000 - 2,999,999",
    "MSASIZE_In an MSA or CMSA of 3 million or more",
    "MSASIZE_Not in MSA or CMSA",
    "URBAN_In an urban area",
    "URBAN_In an Urban cluster",
    "URBAN_In an area surrounded by urban areas",
    "URBAN_Not in urban area",
    "URBANSIZE_50,000 - 199,999",
    "URBANSIZE_200,000 - 499,999",
    "URBANSIZE_500,000 - 999,999",
    "URBANSIZE_1 million or more without heavy rail",
    "URBANSIZE_1 million or more with heavy rail"]]

In [ ]:
df.head()

Combine

"URBANSIZE_1 million or more without heavy rail"
and
"URBANSIZE_1 million or more with heavy rail"

In [ ]:
# Combine the two columns into one
df["URBANSIZE_1 million or more"] = (
    df["URBANSIZE_1 million or more without heavy rail"] |
    df["URBANSIZE_1 million or more with heavy rail"]
).astype(int)

# Drop the originals
df = df.drop(
    columns=[
        "URBANSIZE_1 million or more without heavy rail",
        "URBANSIZE_1 million or more with heavy rail"
    ]
)

In [ ]:
for item in df.columns:
  print(item)

Combine the "I don't know" and "Prefer not to answer" columns into a "No data" column for family income. Rename the "Refused" columns into "No data" columns for race/hispanic classification. Combine "Multiple responses" and "Some other race" into an "other" column for race.

In [ ]:
# ------------------------------
# Combine family income "idk" and "prefer not to answer"
# ------------------------------
df["HHFAMINC_No data"] = (
    df["HHFAMINC_I don't know"] + df["HHFAMINC_I prefer not to answer"]
).astype(int)
df = df.drop(columns=["HHFAMINC_I don't know", "HHFAMINC_I prefer not to answer"])

# ------------------------------
# Race: combine "Refused" + "Don't know" → No data, and "Multiple responses" + "Some other race" → Other
# ------------------------------
df["HH_RACE_No data"] = (
    df["HH_RACE_Don't know"] + df["HH_RACE_Refused"]
).astype(int)

df["HH_RACE_Other"] = (
    df["HH_RACE_Multiple responses selected"] + df["HH_RACE_Some other race"]
).astype(int)

# Drop original columns
df = df.drop(columns=[
    "HH_RACE_Don't know", "HH_RACE_Refused",
    "HH_RACE_Multiple responses selected", "HH_RACE_Some other race"
])

# ------------------------------
# Hispanic: rename "Refused" to "No data"
# ------------------------------
df["HH_HISP_No data"] = df["HH_HISP_Refused"].astype(int)
df = df.drop(columns=["HH_HISP_Refused"])

In [ ]:
for item in df.columns:
  print(item)

Now we can save this final dataframe as a CSV.

In [ ]:
df.to_csv("Final_Data_2017.csv", index=False)
print("Saved cleaned dataset as Final_Data_2017.csv")