# Final Data Cleaning
Many columns are still redundant. This notebook is just to manually look at which columns are repeats and get rid of them, saving the remaining "final" dataset into a csv.

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("2017_OneHot_V1.csv")
df.head()

,GASPRICE,SCHOOL_DISTANCE,NEEDS_SCHOOL_BUS,CENSUS_D_New England,CENSUS_D_Middle Atlantic,CENSUS_D_East North Central,CENSUS_D_West North Central,CENSUS_D_South Atlantic,CENSUS_D_East South Central,CENSUS_D_West South Central,...,URBRUR_Rural,"CDIVMSAR_New England (ME, NH, VT, CT, MA, RI)","CDIVMSAR_Mid-Atlantic (NY, NJ, PA)","CDIVMSAR_East North Central (IL, IN, MI, OH, WI)","CDIVMSAR_West North Central (IA, KS, MO, MN, ND, NE, SD)","CDIVMSAR_South Atlantic (DE, FL, GA, MD, NC, SC, WV, VA)","CDIVMSAR_East South Central (AL, KY, MS, TN)","CDIVMSAR_West South Central (AR, LA, OK, TX)","CDIVMSAR_Mountain (AZ, CO, ID, MT, NM, NV, UT, WY)","CDIVMSAR_Pacific (AK, CA, HI, OR, WA)"
0,207.6,2.426,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,207.6,2.426,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,207.9,7.738,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,208.7,15.403,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
4,239.5,2.625,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

Here's all the columns as of right now.

In [5]:
for item in df.columns:
  print(item)

GASPRICE
SCHOOL_DISTANCE
NEEDS_SCHOOL_BUS
CENSUS_D_New England
CENSUS_D_Middle Atlantic
CENSUS_D_East North Central
CENSUS_D_West North Central
CENSUS_D_South Atlantic
CENSUS_D_East South Central
CENSUS_D_West South Central
CENSUS_D_Mountain
CENSUS_D_Pacific
CENSUS_R_Northeast
CENSUS_R_Midwest
CENSUS_R_South
CENSUS_R_West
HHFAMINC_I don't know
HHFAMINC_I prefer not to answer
HHFAMINC_Less than $10,000
HHFAMINC_$10,000 to $14,999
HHFAMINC_$15,000 to $24,999
HHFAMINC_$25,000 to $34,999
HHFAMINC_$35,000 to $49,999
HHFAMINC_$50,000 to $74,999
HHFAMINC_$75,000 to $99,999
HHFAMINC_$100,000 to $124,999
HHFAMINC_$125,000 to $149,999
HHFAMINC_$150,000 to $199,999
HHFAMINC_$200,000 or more
HH_HISP_Refused
HH_HISP_Yes
HH_HISP_No
HH_RACE_Don't know
HH_RACE_Refused
HH_RACE_White
HH_RACE_Black or African American
HH_RACE_Asian
HH_RACE_American Indian or Alaska Native
HH_RACE_Native Hawaiian or other Pacific Islander
HH_RACE_Multiple responses selected
HH_RACE_Some other race
MSACAT_MSA of 1 million or more, with rail
MSACAT_MSA of 1 million or more, and not in 1
MSACAT_MSA less than 1 million
MSACAT_Not in MSA
MSASIZE_In an MSA of Less than 250,000
MSASIZE_In an MSA of 250,000 - 499,999
MSASIZE_In an MSA of 500,000 - 999,999
MSASIZE_In an MSA or CMSA of 1,000,000 - 2,999,999
MSASIZE_In an MSA or CMSA of 3 million or more
MSASIZE_Not in MSA or CMSA
URBAN_In an urban area
URBAN_In an Urban cluster
URBAN_In an area surrounded by urban areas
URBAN_Not in urban area
URBANSIZE_50,000 - 199,999
URBANSIZE_200,000 - 499,999
URBANSIZE_500,000 - 999,999
URBANSIZE_1 million or more without heavy rail
URBANSIZE_1 million or more with heavy rail
URBANSIZE_Not in an urbanized area
URBRUR_Urban
URBRUR_Rural
CDIVMSAR_New England (ME, NH, VT, CT, MA, RI)
CDIVMSAR_Mid-Atlantic (NY, NJ, PA)
CDIVMSAR_East North Central (IL, IN, MI, OH, WI)
CDIVMSAR_West North Central (IA, KS, MO, MN, ND, NE, SD)
CDIVMSAR_South Atlantic (DE, FL, GA, MD, NC, SC, WV, VA)
CDIVMSAR_East South Central (AL, KY, MS, TN)
CDIVMSAR_West South Central (AR, LA, OK, TX)
CDIVMSAR_Mountain (AZ, CO, ID, MT, NM, NV, UT, WY)
CDIVMSAR_Pacific (AK, CA, HI, OR, WA)

Get rid of CDIVMSAR and MSACAT (redundant info).

In [6]:
final_columns = "["
for item in df.columns:
  if "CDIVMSAR" not in item and "MSACAT" not in item:
    final_columns += item + ", "
final_columns ="]"
print(final_columns)

]

In [7]:
df = df[["SCHOOL_DISTANCE",
    "NEEDS_SCHOOL_BUS",
    "CENSUS_D_New England",
    "CENSUS_D_Middle Atlantic",
    "CENSUS_D_East North Central",
    "CENSUS_D_West North Central",
    "CENSUS_D_South Atlantic",
    "CENSUS_D_East South Central",
    "CENSUS_D_West South Central",
    "CENSUS_D_Mountain",
    "CENSUS_D_Pacific",
    "HHFAMINC_I don't know",
    "HHFAMINC_I prefer not to answer",
    "HHFAMINC_Less than $10,000",
    "HHFAMINC_$10,000 to $14,999",
    "HHFAMINC_$15,000 to $24,999",
    "HHFAMINC_$25,000 to $34,999",
    "HHFAMINC_$35,000 to $49,999",
    "HHFAMINC_$50,000 to $74,999",
    "HHFAMINC_$75,000 to $99,999",
    "HHFAMINC_$100,000 to $124,999",
    "HHFAMINC_$125,000 to $149,999",
    "HHFAMINC_$150,000 to $199,999",
    "HHFAMINC_$200,000 or more",
    "HH_HISP_Refused",
    "HH_HISP_Yes",
    "HH_HISP_No",
    "HH_RACE_Don't know",
    "HH_RACE_Refused",
    "HH_RACE_White",
    "HH_RACE_Black or African American",
    "HH_RACE_Asian",
    "HH_RACE_American Indian or Alaska Native",
    "HH_RACE_Native Hawaiian or other Pacific Islander",
    "HH_RACE_Multiple responses selected",
    "HH_RACE_Some other race",
    "MSASIZE_In an MSA of Less than 250,000",
    "MSASIZE_In an MSA of 250,000 - 499,999",
    "MSASIZE_In an MSA of 500,000 - 999,999",
    "MSASIZE_In an MSA or CMSA of 1,000,000 - 2,999,999",
    "MSASIZE_In an MSA or CMSA of 3 million or more",
    "MSASIZE_Not in MSA or CMSA",
    "URBRUR_Urban",
    "URBRUR_Rural"]]

In [8]:
df.head()

,SCHOOL_DISTANCE,NEEDS_SCHOOL_BUS,CENSUS_D_New England,CENSUS_D_Middle Atlantic,CENSUS_D_East North Central,CENSUS_D_West North Central,CENSUS_D_South Atlantic,CENSUS_D_East South Central,CENSUS_D_West South Central,CENSUS_D_Mountain,...,HH_RACE_Multiple responses selected,HH_RACE_Some other race,"MSASIZE_In an MSA of Less than 250,000","MSASIZE_In an MSA of 250,000 - 499,999","MSASIZE_In an MSA of 500,000 - 999,999","MSASIZE_In an MSA or CMSA of 1,000,000 - 2,999,999",MSASIZE_In an MSA or CMSA of 3 million or more,MSASIZE_Not in MSA or CMSA,URBRUR_Urban,URBRUR_Rural
0,2.426,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0
1,2.426,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0
2,7.738,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0
3,15.403,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
4,2.625,1,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [9]:
for item in df.columns:
  print(item)

SCHOOL_DISTANCE
NEEDS_SCHOOL_BUS
CENSUS_D_New England
CENSUS_D_Middle Atlantic
CENSUS_D_East North Central
CENSUS_D_West North Central
CENSUS_D_South Atlantic
CENSUS_D_East South Central
CENSUS_D_West South Central
CENSUS_D_Mountain
CENSUS_D_Pacific
HHFAMINC_I don't know
HHFAMINC_I prefer not to answer
HHFAMINC_Less than $10,000
HHFAMINC_$10,000 to $14,999
HHFAMINC_$15,000 to $24,999
HHFAMINC_$25,000 to $34,999
HHFAMINC_$35,000 to $49,999
HHFAMINC_$50,000 to $74,999
HHFAMINC_$75,000 to $99,999
HHFAMINC_$100,000 to $124,999
HHFAMINC_$125,000 to $149,999
HHFAMINC_$150,000 to $199,999
HHFAMINC_$200,000 or more
HH_HISP_Refused
HH_HISP_Yes
HH_HISP_No
HH_RACE_Don't know
HH_RACE_Refused
HH_RACE_White
HH_RACE_Black or African American
HH_RACE_Asian
HH_RACE_American Indian or Alaska Native
HH_RACE_Native Hawaiian or other Pacific Islander
HH_RACE_Multiple responses selected
HH_RACE_Some other race
MSASIZE_In an MSA of Less than 250,000
MSASIZE_In an MSA of 250,000 - 499,999
MSASIZE_In an MSA of 500,000 - 999,999
MSASIZE_In an MSA or CMSA of 1,000,000 - 2,999,999
MSASIZE_In an MSA or CMSA of 3 million or more
MSASIZE_Not in MSA or CMSA
URBRUR_Urban
URBRUR_Rural

Combine the "I don't know" and "Prefer not to answer" columns into a "No data" column for family income. Rename the "Refused" columns into "No data" columns for race/hispanic classification. Combine "Multiple responses" and "Some other race" into an "other" column for race.

In [10]:
# ------------------------------
# Combine family income "idk" and "prefer not to answer"
# ------------------------------
df["HHFAMINC_No data"] = (
    df["HHFAMINC_I don't know"] + df["HHFAMINC_I prefer not to answer"]
).astype(int)
df = df.drop(columns=["HHFAMINC_I don't know", "HHFAMINC_I prefer not to answer"])

# ------------------------------
# Race: combine "Refused" + "Don't know" → No data, and "Multiple responses" + "Some other race" → Other
# ------------------------------
df["HH_RACE_No data"] = (
    df["HH_RACE_Don't know"] + df["HH_RACE_Refused"]
).astype(int)

df["HH_RACE_Other"] = (
    df["HH_RACE_Multiple responses selected"] + df["HH_RACE_Some other race"]
).astype(int)

# Drop original columns
df = df.drop(columns=[
    "HH_RACE_Don't know", "HH_RACE_Refused",
    "HH_RACE_Multiple responses selected", "HH_RACE_Some other race"
])

# ------------------------------
# Hispanic: rename "Refused" to "No data"
# ------------------------------
df["HH_HISP_No data"] = df["HH_HISP_Refused"].astype(int)
df = df.drop(columns=["HH_HISP_Refused"])

In [11]:
for item in df.columns:
  print(item)

SCHOOL_DISTANCE
NEEDS_SCHOOL_BUS
CENSUS_D_New England
CENSUS_D_Middle Atlantic
CENSUS_D_East North Central
CENSUS_D_West North Central
CENSUS_D_South Atlantic
CENSUS_D_East South Central
CENSUS_D_West South Central
CENSUS_D_Mountain
CENSUS_D_Pacific
HHFAMINC_Less than $10,000
HHFAMINC_$10,000 to $14,999
HHFAMINC_$15,000 to $24,999
HHFAMINC_$25,000 to $34,999
HHFAMINC_$35,000 to $49,999
HHFAMINC_$50,000 to $74,999
HHFAMINC_$75,000 to $99,999
HHFAMINC_$100,000 to $124,999
HHFAMINC_$125,000 to $149,999
HHFAMINC_$150,000 to $199,999
HHFAMINC_$200,000 or more
HH_HISP_Yes
HH_HISP_No
HH_RACE_White
HH_RACE_Black or African American
HH_RACE_Asian
HH_RACE_American Indian or Alaska Native
HH_RACE_Native Hawaiian or other Pacific Islander
MSASIZE_In an MSA of Less than 250,000
MSASIZE_In an MSA of 250,000 - 499,999
MSASIZE_In an MSA of 500,000 - 999,999
MSASIZE_In an MSA or CMSA of 1,000,000 - 2,999,999
MSASIZE_In an MSA or CMSA of 3 million or more
MSASIZE_Not in MSA or CMSA
URBRUR_Urban
URBRUR_Rural
HHFAMINC_No data
HH_RACE_No data
HH_RACE_Other
HH_HISP_No data

I am an idiot; we need to undo the one hot encoding since trees perform better without it.

In [13]:
import pandas as pd

# Example: your dataframe is called df

# Helper function to reverse one-hot encoding
def reverse_one_hot(df, prefix, new_col_name, drop_original=True):
    """
    df: pandas DataFrame
    prefix: string that matches the start of one-hot columns (e.g., "HHFAMINC_")
    new_col_name: name of the resulting categorical column
    drop_original: whether to drop the original one-hot columns
    """
    # Find all columns that start with the prefix
    cols = [c for c in df.columns if c.startswith(prefix)]

    def get_category(row):
        for c in cols:
            if row[c] == 1:
                return c.replace(prefix, "")  # remove the prefix to get category
        return None  # if none are 1

    df[new_col_name] = df.apply(get_category, axis=1)

    if drop_original:
        df.drop(columns=cols, inplace=True)

    return df

# -------------------------------
# Apply to your groups

# School distance and bus needs might already be categorical, but let's keep them as is
# df['SCHOOL_DISTANCE'] and df['NEEDS_SCHOOL_BUS']

# Census regions
df = reverse_one_hot(df, "CENSUS_D_", "CENSUS_REGION")

# Household income
df = reverse_one_hot(df, "HHFAMINC_", "HHFAMINC")

# Race / Hispanic
df = reverse_one_hot(df, "HH_RACE_", "HH_RACE")
df = reverse_one_hot(df, "HH_HISP_", "HH_HISP")

# MSA size
df = reverse_one_hot(df, "MSASIZE_", "MSASIZE")

# Urban/rural
df = reverse_one_hot(df, "URBRUR_", "URBRUR")

In [14]:
df.head()

,SCHOOL_DISTANCE,NEEDS_SCHOOL_BUS,CENSUS_REGION,HHFAMINC,HH_RACE,HH_HISP,MSASIZE,URBRUR
0,2.426,0,West South Central,"$35,000 to $49,999",Black or African American,No,In an MSA or CMSA of 3 million or more,Urban
1,2.426,0,West South Central,"$35,000 to $49,999",Black or African American,No,In an MSA or CMSA of 3 million or more,Urban
2,7.738,0,West South Central,"$200,000 or more",White,No,In an MSA or CMSA of 3 million or more,Urban
3,15.403,1,East South Central,"$100,000 to $124,999",White,No,"In an MSA or CMSA of 1,000,000 - 2,999,999",Urban
4,2.625,1,Middle Atlantic,"$15,000 to $24,999",White,No,"In an MSA of Less than 250,000",Urban

Now we can save this final dataframe as a CSV.

In [15]:
df.to_csv("Final_Data_2017.csv", index=False)
print("Saved cleaned dataset as Final_Data_2017.csv")

Saved cleaned dataset as Final_Data_2017.csv